* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: rgb(230, 225, 218);
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 520px) {
  body {
    width: 520px;
  }
}